<a href="https://colab.research.google.com/github/BYEONGSEOKKIM/python/blob/main/read%26write.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
f=open('myFile.txt', 'w')
f.write('This is my first file.')
f.close()

In [4]:
!cat myFile.txt

This is my first file.

In [5]:
f=open('myFile.txt','r')
file_text = f.read()
f.close()

print(file_text)

This is my first file.

In [53]:
f=open('twotime.txt', 'w')
for num in range(1,6):
  format2="2 x {0} = {1}\n".format(num,num*2)
  f.write(format2)
f.close()

In [31]:
f= open('twotime.txt','r')
f.read()

'2 x 1 = 2\n2 x 2 = 4\n2 x 3 = 6\n2 x 4 = 8\n2 x 5 = 10\n'

In [50]:
f=open('timetable.txt','w')
for num2 in range(1,10):
    table_2 = "2x{0}={1}\n".format(num2,num2*2)
    f.write(table_2)
for num3 in range(1,10):
    table_3 = "3x{0}={1}\n".format(num3,num2*3)
    f.write(table_3)
for num4 in range(1,10):
    table_4 = "4x{0}={1}\n".format(num4,num4*4)
    f.write(table_4)
for num5 in range(1,10):
    table_5 = "5x{0}={1}\n".format(num5,num5*5)
    f.write(table_5)
for num6 in range(1,10):
    table_6 = "6x{0}={1}\n".format(num6,num6*6)
    f.write(table_6)
f.close()

In [51]:
f=open('timetable.txt','r')
f.read()

'2x1=2\n2x2=4\n2x3=6\n2x4=8\n2x5=10\n2x6=12\n2x7=14\n2x8=16\n2x9=18\n3x1=27\n3x2=27\n3x3=27\n3x4=27\n3x5=27\n3x6=27\n3x7=27\n3x8=27\n3x9=27\n4x1=4\n4x2=8\n4x3=12\n4x4=16\n4x5=20\n4x6=24\n4x7=28\n4x8=32\n4x9=36\n5x1=5\n5x2=10\n5x3=15\n5x4=20\n5x5=25\n5x6=30\n5x7=35\n5x8=40\n5x9=45\n6x1=6\n6x2=12\n6x3=18\n6x4=24\n6x5=30\n6x6=36\n6x7=42\n6x8=48\n6x9=54\n'

In [47]:
print(table_2)

2x9=18

In [49]:
print("hello world\n ji")

hello world
 ji

In [54]:
f = open("twotime.txt")
line1 = f.readline()
line2 = f.readline()
f.close()
print(line1, end="")
print(line2, end="")

2 x 1 = 2
2 x 2 = 4

In [55]:
f= open("twotime.txt")
line = f.readline()
while line:
  print(line, end = "")
  line = f.readline()
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [57]:
f= open("twotime.txt")
lines = f.readlines()
f.close()
print(lines)

['2 x 1 = 2\n', '2 x 2 = 4\n', '2 x 3 = 6\n', '2 x 4 = 8\n', '2 x 5 = 10\n']

In [60]:
f= open("twotime.txt")
lines = f.readlines()
f.close()
for line in lines:
  print(line, end="")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [63]:
f = open("twotime.txt")
for line in f.readlines():
  print(line,end="")
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [66]:
f= open('mytextfile.txt','w')
f.write('file write/read test.')
f.close()

In [68]:
f = open('mytextfile.txt','r')
test = f.read()
f.close()
print(test)

file write/read test.

In [69]:
with open('mytextfile2.txt', 'w') as f:
  f.write('File read/write test2: line1\n')
  f.write('File read/write test2: line2\n')
  f.write('File read/write test2: line3\n')

In [70]:
with open('mytextfile2.txt') as f:
  file_string = f.read()
  print(file_string)

File read/write test2: line1
File read/write test2: line2
File read/write test2: line3

In [72]:
with open('mytextfile3.txt', 'w') as f:
  for num in range(1,6):
    format_string = "3 x {0}= {1}\n".format(num,3*num)
    f.write(format_string)

In [73]:
with open('mytextfile3.txt', 'r') as f:
  for line in f:
    print(line, end="")

3 x 1= 3
3 x 2= 6
3 x 3= 9
3 x 4= 12
3 x 5= 15